<div class="content row">
  <div class="span12">
    <h3>Manage Actions</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</td>
        </tr>
      </thead>

      <tbody>
        <% @actions.sort{|a,b| a['name'] <=> b['name']}.each do |action| %>
          <tr>
            <td><%= action['name'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

