<div class="content row">
  <div class="span12">
    <h3>Manage Actions</h3>
  </div>
</div>
    
<div class="content row">
  <div class="span12">
    <table class="table-striped table-bordered span6">
      <tr>
        <th>Name</td>
      </tr>

      <tbody>
        <% @actions.sort{|a,b| a['name'] <=> b['name']}.each do |action| %>
          <tr>
            <td><%= action['name'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

