<div class="content row">
  <div class="span12">
    <p class="lead">Explore your data in detail by following the flow of actions and state over time.</p>
  </div>
</div>

<div class="content row">
  <div id="chart" class="span12"></div>
</div>
