<link href="/css/skybox.explore.css" rel="stylesheet">
<script src="/js/skybox.explore.js"></script>

<div class="content row">
  <div id="chart" class="span12"></div>
</div>

<script>
skybox.ready(function() {
  skybox.explore.init();
});
</script>
