<header>
  <h1>Skybox</h1>
  <p class="lead">Explore your data in detail by following the flow of actions and state over time.</p>
</header>

<ul class="breadcrumb">
  <li class="dropdown">
    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">Purchase</b></a>
    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
      <li><a tabindex="-1" href="#">Action</a></li>
      <li><a tabindex="-1" href="#">Another action</a></li>
      <li><a tabindex="-1" href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </li>
  <i class="icon-arrow-right"></i>

  <li><a href="#">Home</a>
  <i class="icon-arrow-right"></i>

  <li><a href="#">Library</a>
  <i class="icon-arrow-right"></i>

  <li class="active">Data</li>

  <li class="dropdown pull-right">
    <a class="btn btn-mini dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="icon-chevron-down"></i></a>
    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
      <li><a tabindex="-1" href="#">...</a></li>
    </ul>
  </li>
</ul>

<div class="content row">
  <div id="chart" class="span12" style="height:500px; border:1px solid black;"></div>
</div>


<script>
  $("#chart").skybox("chart");
</script>
