<div class="content row">
  <div class="span6 offset3">
    <header style="margin-top:100px;">
      <h1>Welcome to Skybox</h1>
      <p class="lead">Please select a table to begin.</p>
    </header>

    <select class="span6 table-name">
      <option></option>
      <% @tables.each do |table| %>
        <option><%= table['name'] %></option>
      <% end %>
    </select>
  </div>
</div>

<script>
  $(".table-name").on("change", function() {
    var table = $(this).val();
    if(table != "") {
      document.location = "/" + table;
    }
  });
</script>