<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Skybox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/skybox.css" rel="stylesheet">

    <script src="js/jquery-1.8.3.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/d3.v3.js"></script>
    <script src="js/topojson.v0.js"></script>
    <script src="js/skybox.js"></script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">Skybox</a>
          <ul class="nav">
            <li class="active"><a href="#">Explore</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="#">Admin</a></li>
          </ul>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>