<div class="content row">
  <div class="span12">
    <h3>Manage Properties</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</td>
          <th>Type</td>
          <th>Data Type</td>
        </tr>
      </thead>

      <tbody>
        <% @properties.sort{|a,b| a['name'] <=> b['name']}.each do |property| %>
          <tr>
            <td><%= property['name'] %></td>
            <td><%= (property['type'] == 1 ? 'Object' : 'Action') %></td>
            <td><%= property['dataType'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

